politica {
	
    
    margin-left: 40px;
    display: flex;flex-direction: column;	
	font-family: "Poppins", sans-serif;
    
}
bordacss{
    border-width: 200px;
    border-width: medium;
    border-style: solid;
    border-color: #00f;
    
}

h2 {
	color:#AD2318;
	font-size: 28px;
	padding-top:75px;
}

h4 {
	font-size: 20px;
	font-weight: bolder;
	color:#000000;
}

a {
	color:#AD2318;
}
